body {
    background-color: #f5f5f5;
    font-family: 'Merriweather', sans-serif;
}

.bg-image {
    background-image: url(https://res.cloudinary.com/miles-cownie/image/upload/v1669214451/base_background_hcvnjz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;  
}

.logo {
    font-family: 'Sono', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #b6851d;
}

.nav-link {
    color: #b6851d;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    left: -2px;
    background-color: #b6851d;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.created-date {
    padding: 0px 0px 10px 10px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    font-family: 'Merriweather Sans', sans-serif;;
    background-color: #212529;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.build-details {
    font-family: 'Merriweather', sans-serif;
    max-height: 55vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.build-details::-webkit-scrollbar {
    display: none;
}

.build-form {
    font-family: 'Merriweather', sans-serif;
    max-height: 85vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.form-list {
    background-color: inherit;
    color: inherit;
}

.card-title {
    padding-top: 10px;
    font-weight: 700;
}

.post-link {
    text-decoration: none;
    color: whitesmoke;
    padding-left: 5px;
}

.post-link:hover,
.page-link {
    color: #b6851d;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #b6851d;
    color: black;
    margin-bottom: 10px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: black;
    color: #b6851d;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.footer_text {
    font-family: Sono, sans-serif;
    color: #b6851d;
}

.footer_link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}