{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">
                    {{ build.title }}
                </h1>
                <p class="post-subtitle"> {{ build.author }} | {{ build.updated_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="#" width="100%">
                {% else %}
                <img src="{{ build.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body bg-dark text-light">
                <p class="card-text ">{{ build.description | safe }}</p>
                <p class="card-text">Character Gender: {{ build.get_build_gender_display }}</p>
                <ul class="list-group list-group-flush">
                    <h6 class="card-title">SPECIAL Stats</h6>
                    <li class="list-group-item">S: {{ build.strength }}</li>
                    <li class="list-group-item">P: {{ build.perception }}</li>
                    <li class="list-group-item">E: {{ build.endurance }}</li>
                    <li class="list-group-item">C: {{ build.charisma }}</li>
                    <li class="list-group-item">I: {{ build.intelligence }}</li>
                    <li class="list-group-item">A: {{ build.agility }}</li>
                    <li class="list-group-item">L: {{ build.luck }}</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <h6 class="card-title">Character Traits</h6>
                    {% for item in build.build_traits.all %}
                    <li class="list-group-item"> {{ item }}</li>
                    {% endfor %}
                </ul>
                <ul class="list-group list-group-flush">
                    <h6 class="card-title">Recommended Perks</h6>
                    {% for item in build.build_perks.all %}
                    <li class="list-group-item"> {{ item }}</li>
                    {% endfor %}
                </ul>
                <ul class="list-group list-group-flush">
                    <h6 class="card-title">Starting Skills</h6>
                    <li class="list-group-item"></li>
                </ul>
                <div class="row">

                    <div class="col-1">
                        <!-- The number of likes goes before the closing strong tag -->
                        <strong class="text-secondary"><i class="far fa-heart"></i> </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ total_comments }} </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

{% endblock content %}